<p>sidebar-component works!</p>
<div class="sb-container">
    <div style="width: 100%; text-align: center; padding: 10px 30px;">
        <img src="./../../../../../assets/img/dan_enrico.jpg" style="width: 100%; margin-bottom: 2px;" />
    </div>
    <div class="menu-items">
        Sample 1 <br>
        Sample 2 <br>
        
        <!-- <p-menu [model]="menuItems" [style]="{
            'width':'100%', 
            'border': 'none', 
            'font-size': '17px', 
            'color':'white'}">
        </p-menu> -->
    </div>
</div>